*{
    padding: 0;
    margin: 0;
}
ul li {
    display: inline;
    margin-top: 100px;
    list-style: none;
    
}
ul{
    margin-top: 10px;
    
}
ul li a{
    
    color: black;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
   margin-left: 30px;
   padding: 10px;
    
    
   
   
}
ul li a:hover{
    text-decoration: none;
    background-color: cornflowerblue;
    color: #fff;
}
.section{
    background-image: url(images/image1.jpg);
    background-repeat: no-repeat;
    height: 565px;
    background-size: cover;
    
}

.contant{
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    margin-top: 90px;
    text-align: center;
    padding-top: 50px;
    height: 350px;
    border-radius: 100px;
    line-height: 30px;
}
.textarea{
    line-height: 25px;
    font-size: 17px;
}
.heading::first-letter{
    color: red;
    font-size: 60px;
    font-family: serif;
}
